---
import AudioController from '../components/AudioController.tsx';
import BottomOverlay from '../components/BottomOverlay.tsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MessLines</title>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			
			body {
				background: #000;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<AudioController client:load />
		<BottomOverlay client:load />
	</body>
</html>
